<!DOCTYPE html>
<html>

  <meta charset="UTF-8">
  <section class="bg-white">
    <app-header></app-header>
  

<body>
  
    <img src="assets/images/CustomerHelp.png" alt="Description de l'image">
  <div class="main-content">
  <h1>FAQ</h1>
  <div class="container">
    <div class="left-container">
      <!-- Contenu du deuxième conteneur -->
      <h4>How can we help ?</h4>
    </div>
    
  <div class="vertical-line"></div>
    <div class="right-container">
      <!-- Contenu du premier conteneur -->
      <input type="checkbox" id="question1" class="toggle">
  <label for="question1" class="question">What is greywater?</label>
  <div class="answer">
    <p>Greywater is wastewater from household activities that do not involve human waste. It typically comes from showers, baths, washing machines, and hand basins. Greywater is less contaminated than blackwater, which comes from toilets, kitchen sinks, and floor drains. Greywater can be reused for non-potable purposes, such as watering plants, flushing toilets, and washing clothes.</p>
  </div>
  <div class="horizontal-line"></div>

  <input type="checkbox" id="question2" class="toggle">
  <label for="question2" class="question">what is the difference between Greywater and Blackwater?</label>

  <div class="answer">
   <h5>Here is a table that summarizes the key differences between Greywater and Blackwater: </h5> 
    <table>
      <thead>
        <tr>
          <th>Caractéristique</th>
          <th>Eau grise</th>
          <th>Eau noire</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Source</td>
          <td>Showers, baths, washing machines, hand basins, kitchen sinks</td>
          <td>Toilets, floor drains</td>
        </tr>
        <tr>
          <td>Contaminants</td>
          <td>Low levels of bacteria and organic matter</td>
          <td>High levels of bacteria, viruses, and other pathogens</td>
        </tr>
        <tr>
          <td>Réutilisation</td>
          <td>Can be reused for non-potable purposes</td>
          <td>Cannot be reused</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <h3>Certifications</h3>
  
  <input type="checkbox" id="question3" class="toggle">
  <label for="question3" class="question">What certifications do the Dracoss Greywater Recycling Machine and 7-Layer Ceramic Water Purifier Filter have?</label>
  <div class="answer">
    <p>The 7-Layer Ceramic Water Purifier Filter has CE approval. This means that it has met the European Union's standards for safety and performance. 
      The Dracoss Greywater Recycling Machine is currently undergoing NSF certification. NSF certification is a rigorous process that ensures that a product meets the highest standards for safety and performance.
      </p>
  </div>
  <div class="horizontal-line"></div>

  <input type="checkbox" id="question4" class="toggle">
  <label for="question4" class="question">What are the benefits of having CE and NSF certification?</label>
  <div class="answer">
    <p>CE and NSF certification are important because they give you peace of mind knowing that the products you are using are safe and effective. CE certification is especially important for products that are sold in the European Union. NSF certification is also important for products that are used in food and beverage processing.
      </p>
  </div>
  <div class="horizontal-line"></div>

  <input type="checkbox" id="question5" class="toggle">
  <label for="question5" class="question">What is NSF-350?  </label>
  <div class="answer">
    <p>NSF-350 is a standard developed by the NSF International, a non-profit organization that sets standards for food safety, water quality, and other products. NSF-350 establishes requirements for the materials, design, construction, and performance of onsite residential and commercial water reuse treatment systems. It also sets water quality requirements for the reduction of chemical and microbiological contaminants for non-potable water use.
      </p>
  </div>
  <div class="horizontal-line"></div>

  <input type="checkbox" id="question4" class="toggle">
  <label for="question4" class="question">Installation Guide</label>
  <div class="answer">
    <p>Here is a basic installation guide for a water filtration system:</p>
    <ol>
      <li>Start by carefully reading the instruction manual provided with your filtration system.</li>
      <li>Follow the recommended maintenance steps to keep your filtration system in good working condition.</li>
    </ol>
    <section class="installation-guide">
      <h2>Guide d'installation</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec sapien sed lectus fermentum consectetur.</p>
      <a href="chemin/vers/le/fichier.pdf" download class="download-button">Télécharger le guide</a>
    </section>
  </div>
  
  </div>
  
    </div>
  



