<!DOCTYPE html>
<html>

  <meta charset="UTF-8">
  <section class="bg-white">
    <app-header></app-header>
   
        
        <body>
          
            <img src="assets/images/CustomerHelp.png" alt="Description de l'image">
          <!-- app.component.html -->
        <!-- app.component.html -->
        <h1>FAQ</h1>
        <div class="container">
          <div class="left-container">
            <h4>How can we help?</h4>
          </div>
          
          <div class="vertical-line"></div>
          
          <div class="right-container">
            <ng-container *ngFor="let question of faq; let i = index">
              <div class="question" (click)="toggleAnswer(question, i)">
                <span class="toggle" [ngClass]="{'expanded': question.expanded}">{{ question.expanded ? '' : '' }}</span>
    
                <label>{{ question.title }} </label>
              </div>
              <div class="answer" [ngClass]="{'expanded': question.expanded}">
                <p>{{ question.answer }}</p>
              </div>
            </ng-container>
          </div> 
        <div class="left-container">
          <h4>Certifications </h4>
        </div>
        
        <div class="vertical-line"></div>
        
        <div class="right-container">
          <ng-container *ngFor="let question of faqCertif; let i = index">
            <div class="question" (click)="toggleAnswer(question, i)">
              <span class="toggle" [ngClass]="{'expanded': question.expanded}">{{ question.expanded ? '' : '' }}</span>
              
              <label>{{ question.title }} </label>
            </div>
            <div class="answer" [ngClass]="{'expanded': question.expanded}">
              <p>{{ question.answer }}</p>
            </div>
          </ng-container>
        </div>
      </div>
        
        
          
        
        
        
        